.contain {
    margin-top: 124px;
}

.menu-contain {
    height: 100%;
    background-image: linear-gradient( 120deg, #2d46f5, #2dabf5);
}

.menu-list {
    list-style: none;
    font-size: 2rem;
    line-height: 3rem;
    /* white-space: nowrap; */
    color: var(--white-color);
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}

.menu-item {
    text-overflow: ellipsis;
    padding: 2px 12px;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #9999998a;
}

.menu-item>ul {
    padding-left: 12px;
}

.menu-item:hover {
    border: 1px solid #88888800;
    background-color: var(--white-color);
    color: var(--text-color);
    transform: scale(1.05);
}

.product-contain {}

.contain_product-list {}

.product-item {
    box-shadow: 1px 1px 4px 0 #ccc;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 6px;
    margin-top: 6px;
}


/* initial ratio of 2:3*/


/* create Pseudo class: scale = const */


/* https://mademyday.de/height-equals-width-with-pure-css/ */

.product-item::before {
    content: "";
    float: left;
    padding-top: 180%;
}

.product-item__product-diff {
    background-color: var(--color-base);
    color: var(--white-color);
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 100%;
    width: 102%;
    margin: 0px -2px;
    padding: 9px 0px;
    z-index: 3;
    display: none;
}

.product-item:hover,
.product-item:hover .product-item__product-diff {
    border: 2px solid var(--color-base);
    display: block;
}

.img__item {
    position: relative;
    height: 70%;
    float: left;
    /* background-color: violet; */
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


/* initial ratio of 1:1*/


/* create Pseudo class: scale = const */

.img__item::before {
    content: "";
    float: left;
    box-shadow: 1px 1px 4px 0 #ccc;
    padding-top: 100%;
}


/*
    đã style inline 
    .imgsp1 {
        background-image: url(../img/sanpham1.jpg);
    }
    
    .imgsp2 {
        background-image: url(../img/sanpham2.jpg);
    } */


/* ticker */

.product-item__ticke-top,
.product-item__ticke-left,
.product-item__ticke-right,
.product-item__ticke-bottom {
    display: none;
}

.ticker-love .product-item__ticke-top {
    /* add class .ticker-love --> sticker item product */
    display: block;
    width: 90px;
    font-size: 1.5rem;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #3bffdb;
    z-index: 1;
    font-weight: 500;
    color: #333;
    position: absolute;
    margin-left: -4px;
    top: 22px;
    /* box-shadow: 0 0 5px 1px #0014ff; */
    text-shadow: 0 0 black;
}

.product-item__ticke-top::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-top: 6px solid #187161;
    border-left: 4px solid transparent;
}

.ticker-discount .product-item__ticke-left {
    /* add class .ticker-discount --> sticker item product */
    display: block;
    width: 60px;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    background-color: #ffb000;
    z-index: 1;
    font-weight: 500;
    color: #000;
    position: absolute;
    right: -2px;
    top: -5px;
    /* box-shadow: 0 0 5px 1px #0014ff; */
    text-shadow: 0 0 black;
}

.product-item__ticke-left::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-top: 10px solid #ffb000;
    border-right: 35px solid transparent;
}

.product-item__ticke-left::after {
    position: absolute;
    content: "";
    top: 100%;
    right: 0;
    border-top: 10px solid #ffb000;
    border-left: 35px solid transparent;
}


/* ticker */

.des__item {
    height: 30%;
    margin-top: 100%;
}

.des__product {
    font-size: 1.4rem;
    padding: 12px;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.product-item footer {}

.product-item .price {
    color: #3280da;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 12px 8px 12px;
}

.product-rating {
    font-size: 1.2rem;
    color: #ffd900;
    display: flex;
    margin: 0 12px;
    justify-content: flex-end;
    /* float: right; */
    /* text-shadow: 0 0 1px 10px #333; */
}

.product-item .sum-product {
    color: #777;
    font-size: 1.2rem;
    float: right;
    margin: 8px;
}

.product-item .place-product {
    color: #777;
    font-size: 1.2rem;
    float: left;
    margin: 8px;
}