/* mobile & tablet */

@media (max-width:1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        height: 100px;
    }
    .header-with-search {
        height: 100%;
    }
    #search {
        max-width: 80%;
        padding: 0 8px;
    }
    .login-with .login-with-text {
        display: none;
    }
}


/* tablet */

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
}


/* mobile */

@media (max-width:739px) {
    .header-with-search .logo {
        display: none;
    }
    .logo-taka .btn-menu-header {
        display: block;
    }
    .hide-on-mobile {
        display: none;
    }
    .icon-cart .notify-cart {
        max-width: 50vw;
    }
    #search {
        display: flex;
        justify-content: flex-end;
        max-width: 70%;
    }
    .modal-popup .modal-login {
        width: 80%;
        min-height: 460px;
    }
}


/* header reponsive */


/* 


@media (min-width: 1113px) {}

@media (min-width: 1024px) {} */

@media (min-width: 740px) and (max-width: 1023px) {
    .header {
        width: 644px;
    }
}

@media (min-width: 1024px) and (max-width:1239px) {
    .header {
        width: 984px;
    }
}

@media (max-width: 740px) {
    .pagination-link {
        padding: 8px 8px;
    }
}