/* mobile & tablet */

@media (max-width:1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        height: 100px;
    }
    .header-with-search {
        height: 100%;
    }
    #search {
        max-width: 80%;
        padding: 0 8px;
    }
}


/* tablet */

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
}


/* mobile */

@media (max-width:739px) {
    .header-with-search .logo {
        display: none;
    }
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: flex-end;
    }
    .icon-cart .notify-cart {
        max-width: 50vw;
    }
}


/* header reponsive */


/* 
@media (min-width: 740px) {}

@media (min-width: 1113px) {}

@media (min-width: 1024px) {} */

@media (min-width: 740px) and (max-width: 1023px) {
    .header {
        width: 644px;
    }
}

@media (min-width: 1024px) and (max-width:1239px) {
    .header {
        width: 984px;
    }
}